/* Reset Code Start Here */
*,
*::after,
**::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Reset Code End Here */
/* 
font-family: "Yeseva One", serif;
font-weight: 400;
font-family: "Manrope", sans-serif;
font-weight: 200-800; */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
h2 {
  font-size: 42px;
  font-weight: 700;
  text-align: center;
}
h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
}
h4 {
  font-size: 22px;
  font-weight: 500;
}
button {
  background-color: #ff5959;
  color: #fff;
  border: none;
  padding: 12px 35px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  margin: 15px 0;
}
section {
  margin-bottom: 100px;
}
/* Header Section Code Start Here */
header {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-text-container {
  width: 45%;
}
.banner-text-container h1 {
  font-family: Yeseva One;
  font-size: 55px;
  font-weight: 400;
  line-height: 75px;
  border-left: 3px solid #ff5959;
  padding-left: 15px;
}
.banner-text-container h1 span {
  color: #ffad5a;
}
.banner-text-container p:nth-last-child(1) {
  color: #434343;
}
.banner-image {
  width: 35%;
}
.banner-image img {
  width: 100%;
}
/* Header Section Code End Here */
/* My Mission Section Code Start Here */
#my-mission-section {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.my-mission-card-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 100px;
}
.my-mission-single-card {
  width: 30%;
  padding: 36px;
  border-radius: 15px;
  text-align: justify;
}
.my-mission-single-card:nth-last-child(3) {
  background-color: #edf5f6;
}
.my-mission-single-card:nth-last-child(2) {
  background-color: #ffeeee;
}
.my-mission-single-card:nth-last-child(1) {
  background-color: #fff4d6;
}
.my-mission-single-card img {
  width: 100px;
  height: 100px;
}
.my-mission-single-card h4 {
  font-weight: 700;
}
.Develop-Without-Limits,
.Know-our-Global-Community {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}
.Develop-Without-Limits {
  margin-bottom: 34px;
}
.Develop-Without-Limits img,
.Know-our-Global-Community img {
  width: 400px;
  height: 400px;
}
.my-mission-details-text-container p {
  color: #3e3e3e;
  font-size: 16px;
  text-align: justify;
}
/* My Mission Section Code End Here */
/* Build Corona Application Section Code Start Here */
#build-corona-application {
  width: 80%;
  margin: 0 auto;
}
#build-corona-application h2 span {
  color: #ffad5a;
}
.build-application-parent-container {
  display: flex;
  justify-content: space-evenly;
}
.build-application-image-container {
  width: 338px;
  height: 542px;
}
.build-application-image-container img {
  width: 229px;
  height: 471px;
}
.build-application-text-container {
  width: 525px;
}
.build-application-text-container h3 span {
  color: #ffad5a;
}
.build-application-text-container p {
  text-align: justify;
}
/* Build Corona Application Section Code End Here */
/* Footer section Code Start Here */
footer {
  width: 100%;
  background-color: #0b0d17;
  text-align: center;
  padding: 20px 0;
}
footer h3 {
  font-family: Lobster;
  font-weight: 700;
  color: #fff;
  margin-bottom: -10px;
}
footer h3 span {
  color: #ff5959;
}
footer p {
  color: #D9DBE1;
}
/* Footer section Code End Here */
