/* Reset Code Start Here */
*,
*::after,
**::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Reset Code End Here */
/* font-family: "Yeseva One", serif;
font-weight: 400;
font-family: "Yeseva One", serif;
font-weight: 400;
font-family: "Manrope", sans-serif;
font-weight: 200-800; */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
h2 {
  font-size: 42px;
  font-weight: 700;
}
h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 28px;
}
h4 {
  font-size: 22px;
  font-weight: 500;
}
button {
  background-color: #ff5959;
  color: #fff;
  border: none;
  padding: 12px;
}
section{
    margin-bottom: 100px;
}
